{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <div class="container">
        <div class="about-container">
            <h1>О нас</h1>
            <p>Мы - команда энтузиастов, которые предоставляют широкий ассортимент зоотоваров высокого качества для ваших питомцев. Наша цель - сделать покупки для ваших пушистых друзей легкими и приятными.</p>
            <p>В нашем магазине вы найдете всё, что необходимо для заботы о вашем питомце - от кормов до аксессуаров.</p>
            <img src="about_image.jpg" alt="О нас">
            <p>Свяжитесь с нами, если у вас есть какие-либо вопросы. Мы всегда готовы помочь вам и вашим животным.</p>
        </div>
        <div class="about-container">
            <h1>Дополнительная информация</h1>
            <p>Здесь вы можете добавить дополнительную информацию о вашем магазине или актуальные новости.</p>
        </div>
    </div>
{% endblock %}
